# =============================================================================
# 個人固有のGit設定
# このファイルは個人の環境に合わせてカスタマイズしてください
# =============================================================================

[user]
    name = {{ onepasswordRead .gitIdentity.onepasswordUsernamePath .gitIdentity.onepasswordAccount }}
    email = {{ onepasswordRead .gitIdentity.onepasswordEmailPath .gitIdentity.onepasswordAccount }}
    signingkey = {{ onepasswordRead .gitIdentity.onepasswordSigningKeyPath .gitIdentity.onepasswordAccount }}

# 1Password SSH署名設定
[gpg "ssh"]
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[ghq]
	root = /Users/{{ .chezmoi.username }}/Workspace/repos
